rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isFounder() {
      return request.auth != null
        && (
          firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "founder"
          || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.membership == "admin"
        );
    }

    match /project-files/{projectId}/{fileName} {
      allow read: if isFounder();
      allow create: if isFounder() && request.resource.size <= 600 * 1024 * 1024;
      allow update, delete: if isFounder();
    }
  }
}
